{% extends 'base.html' %}

{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">NewsBox</h1>
                <p class="lead text-muted">Gathers news across domains like healthcare, medicine etc.</p>
                <p>
                    <a href="{% url 'category' %}" class="btn btn-primary my-2">Check All Categories</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for item in page %}
                <div class="col">
                    <div class="card shadow-sm">
                         <img src="{{ item.6  }}" />
                         <div class="card-body">
                             <a href="{{ item.2 }}"><h4 class="card-text">{{ item.0 }}</h4> </a>
                             <p class="card-text">{{  item.1 }}</p>
                             <div class="d-flex justify-content-between align-items-center">
                                 <div class="btn-group">
                                     <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ item.2 }}">View</a></button>
                                 </div>
                                 <small class="text-muted">{{ item.4 }}</small>
                                 <small>from {{item.7}}</small>
                             </div>
                         </div>
                     </div>
                 </div>
                 {% endfor %}
             </div>
         </div>
     </div>

    <div class="container">
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
                    </li>
                    {% endif %}

                    {% for num in page.paginator.page_range %}
                    {% if page.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
 </main>
{% endblock %}